.card {
  display: flex;
  width: 100% !important;
  border-bottom: 1px solid #E7E7E7;
}

.card:hover {
  background-color: #F5F8FA;
}

.details {
  display: flex;
  flex-direction: column;

}

.content {
  flex: 1 0 auto;
}

.cover {
  min-width: 151px;
  min-height: 151px;
}

.controls {
  display: flex;
  align-items: center;
  padding-left: theme.spacing.unit;
  padding-bottom: theme.spacing.unit;
}

.playIcon {
  height: 38px;
  width: 38px;
}

.badge {
  margin: 0 10px;
}

.card-header {
  margin-right: 10px;
}

.badgeIcon {
  font-size: 2px !important;
}
