.post-item {
  display: flex;
  width: 100% !important;
  /* border-bottom: 1px solid #E7E7E7; */
  margin-bottom: 10px;
  border-radius: 3px !important;
  transition: all ease-in 0.2s;
}

.content:hover {
  background-color: #F5F8FA;
}

.card-header:hover {
  background-color: #F5F8FA;
}

.details {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.content {
  flex: 1 0 auto;
  cursor: pointer;
}

.cover {
  transition: all ease-in 0.2s;
  min-width: 151px;
  min-height: 151px;
  border-radius: 3px 0px 0px 3px !important;
  cursor: pointer;
}

.cover:hover {
  opacity: 0.8;
}

.controls {
  display: flex;
  align-items: center;
  padding-left: theme.spacing.unit;
  padding-bottom: theme.spacing.unit;
}

.playIcon {
  height: 38px;
  width: 38px;
}

.badge {
  margin: 0 10px;
  transition: all ease-in 0.2s;
}

.badge.trust:hover {
  color: #2BC273;
}

.badge.report:hover {
  color: #EF4136;
}

.badge.comment:hover {
  color: #20A4F3;
}

.card-header {
  padding-left: 5px !important;
  padding-right: 26px !important;
  border-bottom: 1px solid #C7C7C7;
  cursor: pointer;
}

.badgeIcon {
  font-size: 2px !important;
}

.tooltip {
  white-space: nowrap;
}
