.sources {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}

.source-buttons {
  margin: 0.3rem;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  background-size: 70% 70%;
  background-repeat: no-repeat;
  background-position: center center;
}

.source-buttons:hover {
  cursor: pointer;
  box-shadow: inset 0px 2px 5px 0px rgba(0, 0, 0, .3);
}

.source-buttons:active {
  box-shadow: inset 0px 2px 5px 0px rgba(0, 0, 0, .3);
  border: 1px solid #fdd835;
}

.trust-form {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

#photo {
  width: 30%;
}

.trust-fields {
  width: 70%;
  margin-right: 2rem;
}

.trust-buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 1rem;
}

.card-form {
  padding: 2rem !important;
}

.error {
  font-size: 11px;
  color: red;
}
