/* .radio-buttons {
  display: flex;
  flex-direction: row;
} */

.expanded-post-item {
    width: 100% !important;
    /* border-bottom: 1px solid #E7E7E7; */
    margin-bottom: 0;
    border-radius: 3px !important;
    transition: all ease-in 0.2s;
}


.formwrapper {
  overflow: hidden;
  transition: all ease-in 0.2s;

}


.expanded-details {
  flex-direction: column;
}

.expanded-.content {
  /* flex: 1 0 auto; */
  display: block;
}

.expanded-cover {
  min-width: 100%;
  min-height: 300px;
  border-radius: 3px 0px 0px 3px !important;
}

.formwrapper {
  /* height: 300px; */
  background-color: #f5f8fa;
  border-bottom: 1px solid #e6ecf0;
  border-top: 1px solid #e6ecf0;
  /* padding: 20px 30px 0px 20px; */
  text-align: center;
}
.card-form {
  transition: all ease-in 0.2s;

}

.card-form.show {
}
