.navbar {
  width: 100%;
}

.navbar.logo {
  flex: 1;
}

.menuButton {
  margin-left: -12;
  margin-right: 20;
}

.nav-avatar {
  /* height: 50px !important;
  width: 50px!important; */
  cursor: pointer;
  transition: all ease-in 0.2s
}

.nav-avatar:hover{
  box-shadow: 2px 2px 10px 2px #8B8982;
  transform: scale(1.05, 1.05);
}

.user-menu {
  display: flex;
}

.button.add {
  margin-right: 20px;
}

#menu-appbar {
  margin-top: 75px;
}

.home-logo {
  width: 45px;
}
