.navbar {
  width: 100%;
}

.title {
  flex: 1;
  cursor: pointer;
  align-items: center;
  display: flex !important;
  color: #FFF !important;
}

.menuButton {
  margin-left: -12;
  margin-right: 20;
}

.nav-avatar {
  /* height: 50px !important;
  width: 50px!important; */
  cursor: pointer;
  transition: all ease-in 0.2s
}

.nav-avatar:hover{
  transform: scale(1.05, 1.05);
}

.user-menu {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: #FFF;
  transition: all ease-in 0.2s;
}

.user-menu:hover {
  color: #fdd835;
}

.username {
  margin-right: 10px;
}

.button.add {
  margin-right: 20px;
}

/* #menu-appbar {
  margin-top: 75px;
} */

.home-logo {
  height: 60px;
  margin: 10px 10px 10px 0;

}
